# Ignorer le Dockerfile (si tu n'as pas besoin de versionner ce fichier)
Dockerfile

# Ignorer le fichier docker-compose.yml
docker-compose.yml

# Ignorer le dossier de configuration (par exemple)
conf/

# Ignorer les répertoires des dépendances (comme le dossier web)
web/

# Ignorer les fichiers Python compilés et autres fichiers de cache
__pycache__/
*.pyc
*.pyo
*.log

# Ignorer les fichiers de configuration spécifiques à l'environnement
.env
