# Ignorer les fichiers sensibles ou temporaires
.env
*.log
*.tmp

# Ignorer les répertoires de configuration sensibles
conf/
config/
hadoop.env

# Ne pas ignorer les fichiers Dockerfile et docker-compose.yml
# (ne rien ajouter ici pour ces fichiers)
